@import '../sass/variables';
@import '../sass/mixin';

#layerslider {
  width: 100%;
  height: 750px;

  .slide_typo {
    top: 47%;
    left: 50%;
  }
  .slide_typo_2 {
    top: 55%;
    left: 50%;
  }
  .rounded {
    top: 65%;
    left: 50%;
    white-space: nowrap;
  }
}

button:focus {
  outline: none;
}

.banner-image {
  z-index: 1;
  white-space: nowrap;
  width: 100%;
  text-align: right;
  left: 0 !important;
  top: 25px !important;
}

.banner-main-header {
  background: green;
  @include desktop {
    background: yellow
  }
  @include tablet {
    background: purple;
    text-align: center;
    left: 6% !important;
  }
  @include mobile {
    background: red;
  }
  @include extra-small-mobile {
    background: white;
    text-align: center;
    left: 6% !important;
    h2 {
      font-size: 20px;
    }
  }

  top: 30% !important;
}

